on: [push]

jobs:
  custom_test:
    runs-on: ubuntu-latest
    name: Test for cloudos job run
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Print cloudos job run command (dry_run set to true)
        uses: lifebit-ai/action-cloudos-cli@0.3.1
        id: cloudos_job_run
        with:
          apikey:  ${{ secrets.CLOUDOS_APIKEY }}
          cloudos_url: 'https://staging.lifebit.ai'
          workspace_id: ${{ secrets.CLOUDOS_WORKSPACE_ID }}
          project_name: 'cloudos-cli-tests'
          workflow_name: 'rnatoy'
          nextflow_profile: 'test'
          cloudos_cli_flags: '--resumable --spot --verbose --wait-completion'
          request_interval: 60
          dry_run: 'false'
          instance_type: 'c5.xlarge'
          instance_disk: 40
          wait_time: 7200
          cost_limit: 0.1
      - name: Get the cloudos_job_run job ID
        run: echo ${{steps.cloudos_job_run.outputs.job_id}}


